#map {
  height: 100vh;
  width: 100%;
}

.driver-marker {
  background: transparent;
  border: none;
  font-size: 24px;
  text-align: center;
  line-height: 30px;
}

.passenger-marker {
  background: transparent;
  border: none;
  font-size: 24px;
  text-align: center;
  line-height: 30px;
}
